footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    text-align: center;
}

.footer-content {
    margin-top: -12px;
}
#pageTop {
     font-family: 'UnifrakturCook', cursive;
    }

.jumbotron {
    background-color: #20315A ; 
    color: white; 
    margin-top: 5px;
}

.fa-github {
    margin: 4px;
}

.search-item-div {
    border: 1px solid #20315A;
    padding: 5px;

}